* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "MedievalSharp", cursive;
}

header {
    text-align: center;
    background-image: url(../img/book.jpg);
    background-size: cover;
    color: rgb(31, 2, 2);
}



nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: rgb(31, 2, 2);
    margin: 15px;

}

nav a:hover {
    font-size: large;
}

main {
    background-image: url(../img/unnamed.jpg);
    background-size: cover;
    width: 100%;
    height: 1080px;
}

footer {
    text-align: center;

    color: rgb(31, 2, 2);
    background-image: url(../img/book.jpg);
    background-size: cover;
}